@import url("https://fonts.googleapis.com/css2?family=Playball&family=Poppins:ital,wght@0,600;0,700;1,600&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--bg);
  transition: 3ms ease;
  color: var(--black);
  scroll-behavior: smooth;
}
