.mainContainerSignup {
    background: url(https://www.pequeocio.com/wp-content/uploads/2019/11/tipos-clases-plantas.jpg);
    background-size: cover;
}
.signupContainer {
    width: 430px;
    margin: 160px auto;
    border: 1px solid #41bb41;
    border-radius: 10px;
    padding-bottom: 30px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    background: #47c67cdb;
}
.signupContainer p {
    text-align: center;
}
.signupContainer p a {
    color: #273725;
}
.signupContainer p a:hover {
    color: #018c1a;
}

.formContainer {
    display: flex;
    flex-direction: column;
}
.formContainer input {
    font-size: 18px;
    margin-bottom: 15px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.formContainer input[type="submit"] {
    width: 320px;
    cursor: pointer;
    background-color: #21aa5b;
}
.formContainer input[type="submit"]:hover {
    background-color: #219b54;
}

.logoTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoTitle img {
    width: 40px;
}